.magLegend {
	font-size: 12px;
	background: white;
	border-color: black;
	border: 1px solid #444444;
	padding: 6px;
	border-radius: 5px;
}

.magLegend i {
	border-radius: 50%;
	border-color: black;
	border-style: solid;
	border-width: thin;
	background-color: orange;
	float: left;
	opacity: 0.8;
}

.faultLegend {
	font-size: 12px;
	background: white;
	border-color: black;
	border: 1px solid #444444;
	padding: 6px;
	border-radius: 5px;
}

.faultLegend i {
	width: 18px;
	height: 3px;
	float: left;
	margin-top: 7px;
	margin-right: 8px;
	background: red;
}
